.Contactbox {
    max-width: 1200px;
    margin: 0px auto;
  padding: 0 25px;
  scroll-behavior: smooth;
   background-color: #1E1D1D;
}
.FotoAlbomubox {
  height: 500px;
 
}
.FotoAlbomtitle {
    font-size: 24px;
    font-weight: 500;
    color: #999360;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

ul.acordion {
  display: flex;
  justify-content: center;
}
ul.acordion li {
  width: 70px;
  overflow: hidden;
  padding: 1px 1px 0;
  cursor: pointer;
display: block;
padding-top: 30px;
transition: all 1s;

}
ul.acordion li:hover {
  width: 200px;
  transition: all 1.5s;
}
ul.acordion li:nth-child(3) {
  width: 200px;
}
ul.acordion:hover li:nth-child(3) {
  width: 70px;
}
ul.acordion li:nth-child(3):hover {
  width: 200px;
}
.box-acordion {
  display: flex;
  justify-content: center;
 
}